.icons {
  border-radius: 50%;
  background-color: $color-white-3;
  width: 9rem;
  height: 9rem;
  padding: 2.2rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.16);
  color: $color-tertiary;
}
